
body {
  background-color: #000;
  color: var(--bs-light);
}

h1, h2 {
  text-align: center;
}

#carouselExample img {
  max-height: 50rem;
  object-fit: cover;
  object-position: top;
}

.btn {
  color: var(--bs-light);
}


.card {
  width: 16rem;
}

.card img {
  max-height: 10rem;
  object-fit: cover;
}

.card-body {
  background-color: var(--bs-info);
}

footer {
  background-color: var(--bs-info);
}
