
body {
  background-color: #000;
  color: var(--bs-light);
}

footer {
  background-color: var(--bs-info);
}


.card {
  width: 16rem;
}

.card img {
  max-height: 10rem;
  object-fit: cover;
}

.card-body {
  background-color: var(--bs-info);
}